{% extends "base.html" %}
{% load i18n %}

{%block content%}
<div class="row-fluid print-preview-links">
    <!--<a href="#">Share</a> <a href="#">Email</a> <a href="#">Download</a>--> <a href="#" class="print" rel="print-area">Print</a>
</div>
<div class="row-fluid">
    <div class="container-fluid print-area">
        <div class="page-break">
            <div class="row-fluid">
                <h1>Summary</h1>
            </div>
            <div class="row-fluid">
                <div class="print-summary">
                    <div class="span6">
                        <img style="-webkit-user-select: none" src="http://maps.googleapis.com/maps/api/staticmap?center=Grand+Canyon+AZ&amp;zoom=5&amp;size=600x300&amp;maptype=roadmap&amp;sensor=false" alt="Map Overview">
                    </div>
                    <div class="span6">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th><th></th><th>Distance</th><th>Driving</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for itinerarysite in itinerarysites %}
                                <tr>
                                    <td>Day {{ itinerarysite.day_number }}</td>
                                    <td>{{ itinerarysite.previous_site.name }} to {{ itinerarysite.site.name }}</td>
                                    <td>{{ itinerarysite.distance.distance }} km</td>
                                    <td>{{ itinerarysite.distance.hours }} h</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td><td></td><td><strong>{{ total_distance }} Km</strong></td><td><strong>{{ total_hours }} h</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <ul class="itinerary-places unstyled" >
                    {% for itinerarysite in itinerarysites %}
                    <li>
                        <div class="row-fluid item-place-header">
                            <div class="span7">
                                <div class="list-header">
                                    <h3>{{ forloop.counter }}. {{ itinerarysite.site.name }}</h3>
                                </div>
                            </div>
                            <div class="span5">
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="span12 list-range">
                                <p>
                                    Number of days: <strong>{{ itinerarysite.nights }}</strong>
                                    <span class="daterange">
                                    From: <strong>{{ itinerarysite.start_date|date:"m-d-Y" }}</strong> &nbsp;&nbsp; To: <strong>{{ itinerarysite.end_date|date:"m-d-Y" }}</strong>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="item-place-details">
                        <div class="row-fluid">
                            <div class="span12 activity">
                                <strong>Activities:</strong>

                                <ul class="added-activities unstyled">
                                    {% for itineraryplaceactivity in itinerarysite.itineraryplaceactivity_set.all %}
                                    <li>
                                        <div class="row-fluid">
                                            <div class="span2">
                                                {% if itineraryplaceactivity.activity.image %}
                                                    <img src="{{ STATIC_URL }}{{ itineraryplaceactivity.activity.image.url }}" />
                                                {% endif %}
                                            </div>
                                            <div class="span8">
                                                <div class="header">
                                                    <h3 class="title">{{ itineraryplaceactivity.activity.name }}</h3>
                                                </div>
                                                <p>{{ itineraryplaceactivity.activity.description }}</p>
                                            </div>
                                            <div class="span2">
                                                {% if itineraryplaceactivity.is_booked %}
                                                    <div class="marbot10"><span class="label label-success">Booked</span></div>
                                                {% else %}
                                                    <div class="marbot10"><span class="label label-fail">Not Booked</span></div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div><!-- end activity -->
                        <div class="row-fluid">
                            <div class="span12 hotel">
                                <strong>Hotels:</strong>

                                <ul class="added-hotels unstyled">

                                    <li>
                                        <div class="row-fluid">
                                            <div class="span2">
                                                <img src="http://upload.wikimedia.org/wikipedia/en/thumb/2/2a/Burj_Al_Arab%2C_Dubai%2C_by_Joi_Ito_Dec2007.jpg/220px-Burj_Al_Arab%2C_Dubai%2C_by_Joi_Ito_Dec2007.jpg" alt="Burj Al Arab" />
                                            </div>
                                            <div class="span8">
                                                <div class="header">
                                                    <h3 class="title">Burj Al Arab</h3>
                                                </div>
                                                <p>
                                                    At 321 m (1,053 ft), it is the fourth tallest hotel in the world. Burj Al Arab stands on an artificial island 280 m (920 ft) from Jumeirah beach and is connected to the mainland by a private curving bridge. The shape of the structure is designed to mimic the sail of a ship. Sometimes incorrectly referred to as "the world's only seven-Star hotel", its star rating has been often debated.
                                                </p>
                                            </div>
                                            <div class="span2">
                                                <div class="marbot10"><span class="label label-success">Booked</span></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!--end hotel -->
                        </div>
                    </li><!-- end itinerary list -->
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% for itinerarysite in itinerarysites %}
        <div class="page-break">
            <div class="row-fluid">
                <div class="span4"><h1>Day {{ forloop.counter }}: {{ itinerarysite.start_date }}  </h1></div><div class="span8"><h2>From {{ itinerarysite.previous_site.name }} to {{ itinerarysite.site.name }}</h2></div>
            </div>
            <div class="row-fluid">
                <div class="row-fluid">
                    <div class="span12 day-details-img">

                                    <h2 class="center">{{ itinerarysite.site.name }}</h2>
                                    {% if itinerarysite.site.map %}
                                    <img class="center" src="{{ STATIC_URL }}{{ itinerarysite.site.map.url }}" alt="Southern California"/>
                                    {% endif %}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="siteStats">
                            <h3>Description</h3>
                            <p>{{ itinerarysite.site.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="siteStats">
                            <h3 class="border-bottom">Activities</h3>
                            {% for activity in itinerarysite.site.siteactivity_set.all %}
                                <div class="row-fluid">
                                    <div class="span3 marbot10">
                                        {% if activity.image %}
                                            <img src="{{ STATIC_URL }}{{ activity.image.url }}" alt="Site activity"/>
                                        {% endif %}
                                    </div>
                                    <div class="span9 marbot10">
                                        <p><strong>{{ activity.name }}</strong></p>
                                        <p>{{ activity.descripton }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 booked-activities">
                        <ul class="added-activities unstyled">
                            <strong>Activities Booked:</strong>
                            {% for itineraryplaceactivity in itinerarysite.itineraryplaceactivity_set.all %}
                            <li>
                                <div class="row-fluid">
                                    <div class="span2">
                                        {% if itineraryplaceactivity.activity.image %}
                                            <img src="{{ STATIC_URL }}{{ itineraryplaceactivity.activity.image.url }}" alt="Grand Canyon" />
                                        {% endif %}
                                    </div>
                                    <div class="span10">
                                        <div class="header">
                                            <h3 class="title">{{ itineraryplaceactivity.activity.name }}</h3>
                                        </div>
                                        <p>{{ itineraryplaceactivity.activity.description }}</p>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div><!-- end activity -->
                <div class="row-fluid">
                    <div class="span12 booked-activities">
                        <ul class="added-activities unstyled">
                            <strong>Hotels Booked:</strong>
                            <li>
                                <div class="row-fluid">
                                    <div class="span2">
                                        <img src="http://upload.wikimedia.org/wikipedia/en/thumb/2/2a/Burj_Al_Arab%2C_Dubai%2C_by_Joi_Ito_Dec2007.jpg/220px-Burj_Al_Arab%2C_Dubai%2C_by_Joi_Ito_Dec2007.jpg" alt="Burj Al Arab" />
                                    </div>
                                    <div class="span10">
                                        <div class="header">
                                            <h3 class="title">Mysteries by Cirque de Soleil</h3>
                                        </div>
                                        <p>
                                            Today, we tell about a famous natural place, the Grand Canyon. In late September, 1540, a group of Spanish explorers led by Captain Garcia Lopez de Cardenas came to a stop. For weeks they had walked north across the great southwestern American desert.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- end activity -->
                <div class="row-fluid">
                    <div class="span12">
                        <div class="siteStats">
                            <h3>Directions</h3>
                            <h4>Hotel Address:</h4>
                            <div class="direction-map marbot10">
                                <p>Address: 9283 Lovely Lane, California</p>
                                <img style="-webkit-user-select: none" src="http://maps.googleapis.com/maps/api/staticmap?center=Grand+Canyon+AZ&amp;zoom=5&amp;size=600x300&amp;maptype=roadmap&amp;sensor=false" alt="Map Overview">
                            </div>
                            <h4>Itinierary Direction From X to Y:</h4>
                            <div class="direction-map marbot10">
                                <p>Direction: X Hours to X Km</p>
                                <img style="-webkit-user-select: none" src="http://maps.googleapis.com/maps/api/staticmap?center=Grand+Canyon+AZ&amp;zoom=5&amp;size=600x300&amp;maptype=roadmap&amp;sensor=false" alt="Map Overview">
                            </div>
                            <h4>Site Location</h4>
                            <div class="direction-map marbot10">
                                <p>Direction: X Hours to X Km</p>
                                <img style="-webkit-user-select: none" src="http://maps.googleapis.com/maps/api/staticmap?center=Grand+Canyon+AZ&amp;zoom=5&amp;size=600x300&amp;maptype=roadmap&amp;sensor=false" alt="Map Overview">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="row-fluid print-preview-links">
    <!--<a href="#">Share</a> <a href="#">Email</a> <a href="#">Download</a>--> <a href="#" class="print" rel="print-area">Print</a>
</div>
{%endblock content%}